.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;

}
.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__deliveryLocation {
    display: flex;
    align-items: center;
    color: white;
}

.header__locationText {
    display: flex;
    flex-direction: column;
}

.header__locationIcon{
    padding: 5px;
    margin-top: 20px;
    height: 30px !important;
}

.header__locationLineTwo {
    font-weight: bold;
}

.header__search{
    display: flex;
    align-items: center;
    border-radius: 24px;
    margin-left: 25px;
    width: 60%;
}

.header__searchInput {
    height: 40px;
    width: 100%;
    border-radius: 5px 0 0 5px;
}


.header__searchIcon {
    padding: 5px;
    height: 32px !important;
    width: 35px !important;
    background-color: #cd9042;
    border-radius: 0 5px 5px 0;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-left: 80px;
}

.header__option{
    display:flex;
    flex-direction: column;
    color: white;
}

.header__optionLineOne{
    font-size: 12px;
}

.header__optionLineTwo {
    font-size: 14px;
    font-weight: bold;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin: 0 10px 0 10px;
} 

