.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.login__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}